.custom{
    height: 200px;
    border-radius: 25px !important;
    width: -webkit-fill-available;
}
.custom:hover{
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.75);
}
.ActiveHouse {
    background-color: #21cc65;
}
.InactiveHouse {
    background-color: #cccac9;
}
.houseContainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.house {
    color: rgba(0, 0, 0, 0.3);
    font-size: 110px !important;
}
.customText{
    margin-top: 80px;
}
.customContainer{
    margin: 39px
}